* {
    font-family: 'DynaPuff', cursive;
    font-size: larger;
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);

}

.game-container {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: 0 auto;
    width: 100%;

}

#headingGame {
    animation-name: example;
    animation-duration: .1s;
}


body {
    background-color: #111111;
    width: 100%;
}

/* #h1{
    display: flex;
    justify-content: center;
} */
.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: fit-content;
    margin-bottom: 0;
}

/* #randomWord{
    display: flex;
    justify-content: center;
} */

#score,
#timer,
.heading1,
#word,
#h1 {
    display: flex;
    justify-content: center;

}

#timer,
#score {
    margin: 0px;
    box-sizing: content-box;
}

div {
    margin-bottom: 15px;
    margin-left: 21px;
}

#input {
    background-color: transparent;
    width: fit-content;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: black;

}

#input:hover {
    border: 1px solid white;
    transition: all .2s linear;
}

#input:focus {
    border-bottom: 1px solid black;
    outline: none;
}


#startgame {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    background-color: #00AAFF;
    border-radius: 10px;
    background-color: transparent;
    border: none;

}

#startgame:hover {
    transition: all .1s linear;
    color: white;
}



    

#keyboard {
    display: flex;
    justify-content: center;
    background-color: #111111;
    margin: 0;
    padding-left: 9px;
    padding-right: 51px;
    margin-top: 30px;
    background: linear-gradient(to right, #00AAFF, #00FF6C);



}

#first-line,
#sec-line,
#third-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

#div1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.kb-btn {
    background-color: rgb(53, 43, 43);
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    color: white;
    font-weight: 550 !important;
    box-shadow: 2px -2px 0px black, 0px -1px 2px black;

    display: flex;
    align-items: center;
    justify-content: center;
}



.input-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    flex-direction: column;
}

.isClicked {
    filter: brightness(0.8);
    box-shadow: none;
    
    
}